div#player div {
	float: left;
}

div#player,
div#player div {
	border: 3px solid blue;
}

div#player div.button {
	cursor: pointer;
	background-color: blue;
}

div#player div.button:hover,
div#player div#playlist div.hover:hover {
	background-color: yellow;
}

div#player div#status {
	padding: 5px;
}

div#player div#playlist {
	display: table;
	padding: 0;
}

div#playlist div {
	display: table-row;
	border: 0;
	padding: 5px;
}

div#playlist div.hover {
	cursor: pointer;
}

div#playlist div:nth-child(even) {
	background-color: white;
}
 
div#playlist div:nth-child(odd) {
	background-color: lightblue;
}

div#player div#clear {
	clear: both;
	float: none;
	border: 0;
}

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: blue;
}

ul {
	list-style-type: none;
	padding-left: 10px;
}

div#playlist div#add {
	padding-top: 6px;
}

.addhide {
	display: none;
}